$primary_color: #003326;//20b2aa is grey shed
$secondary_color: #eece1a;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.85;

@mixin easeOut {
	transition: all 0.5s ease-out;
}

@mixin background{
	@if $show-home-image {
		&#bg-img {
			background: $home-image;
			background-attachment: fixed;
			background-size: cover;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			z-index: -2;
			background: rgba($primary_color, $background-opacity);
		}
		}
	}
}
// Set text color
@function set-text-color($color){
	@if (lightness($color) > 40){
		@return #000;
	}
	@else{
		@return #fff;
	}
}

//Media query
@mixin mediaSm{
	@media screen and (max-width: 500px){
		@content;
	}
}

@mixin mediaMd{
	@media screen and (min-width: 768px){
		@content;
	}
}

@mixin mediaLg{
	@media screen and (min-width: 769px) and (max-width: 1170px){
		@content;
	}
}

@mixin mediaXl{
		@media screen and (min-width: 1171px){
			@content;
		}
}
