@import 'config';
@import 'menu';
html {
	font-size:10px;
}

* {
	box-sizing:border-box;
}
body {

	@include background;
	background: $primary_color;
	color: set-text-color($primary_color);
	height: 100%;
	margin: 0%;
	font-family: Product Sans, san-serif;
	line-height: 1.5;
}

//headings
h1,
h2,
h3 {
	margin:0;
	font-weight: 400;
}

h1.lg-heading{
	font-family: 'Product Sans';
	font-size: 6rem;
}

h2.sm-heading{
	font-family: 'Product Sans';
	font-size: 2rem;
	padding: 0.2rem 1rem;
	//color: #f0f0f0;
  background: rgba(lighten($primary-color, 2), 0.5);
}

a{
	color: #fff;
	text-decoration: none;
}

header{
	position: fixed;
	z-index: 2;
	width: 100%;
}

.text-secondary{
	color: $secondary_color;
}

main {
	padding: 4rem;
	//height: 100%;
	min-height: calc(100vh - 60px);

	.icon{
		margin-top: 1rem;

		a{
			padding: 0.4rem;

			&:hover {
				color: $secondary_color;
				@include easeOut();
			}
		}
	}

	&#home {
		overflow: hidden;
		h1 {
			margin-top: 20vh;
		}
	}
}

.about-info{
	display: grid;
	grid-gap: 30px;
	grid-template-areas:
	'bioimage bio bio'
	'job1 job2 job3';
	grid-template-columns: repeat(3, 1fr);


	.bio-image{
		grid-area:bioimage;
		margin: auto;
		border-radius: 50%;
		border: $secondary_color 3px solid;
	}
	.bio{
		grid-area: bio;
		font-size: 1.5rem;
	}

	.job-1{
		grid-area:job1;
	}

	.job-2{
		grid-area:job2;
	}

	.job-3{
		grid-area:job3;
	}

	.job{
		background: lighten($primary_color,5);
		padding: 0.5rem;
		border-bottom: $secondary_color 5px solid;

	}

}
// work/projects
.projects {
	display: grid;
	grid-gap: 0.7rem;
	grid-template-columns: repeat(3,1fr);
	img {
		width: 100%;
		border: 3px solid #fff;

		&:hover{
			opacity: 0.5;
			//transform: scale(1.2,1.2);
			border: 3px solid $secondary_color;
			@include easeOut;
		}
	}
}


// button styles
.btn{
	display: block;
	padding: 0.5rem, 1rem;
	border: 0;
	margin-bottom: 0.3rem;
	text-align: center;
	&:hover{
		background: $secondary_color;
		color: set-text-color($secondary_color);
	}
}

.btn-dark{
	@extend .btn;

	border-radius: 5px;
	background: darken($primary-color, 50);
	color: #fff;
}

.btn-light{
	border-radius: 5px;
	@extend .btn;
	background: lighten($primary-color, 50);
	color: #333;
}



#main-footer{
	text-align: center;
	padding: 1rem;
	background: darken($primary_color, 8);
	color: set-text-color($primary_color);
	height: 60px;
}

@import 'mobile';
