@import 'config';
@import 'menu';
@import 'mobile';
html {
	font-size:10px;
}

* {
	box-sizing:border-box;
}
body {

	@include background;
	background: $primary_color;
	color: #fff;
	height: 100%;
	margin: 0%;
	font-family: Product Sans, san-serif;
	line-height: 1.5;
}

//headings
h1,
h2,
h3 {
	margin:0;
	font-weight: 400;
}

h1.lg-heading{
	font-family: 'Product Sans';
	font-size: 6rem;
}

h2.sm-heading{
	font-family: 'Product Sans';
	font-size: 2rem;
	padding: 0.2rem 1rem;
	color: #f0f0f0;
    background: rgba(lighten($primary-color, 2), 0.5);
}

a{
	color: #fff;
	text-decoration: none;
}

header{
	position: fixed;
	z-index: 2;
	width: 100%;
}

.text-secondary{
	color: $secondary_color;
}

main {
	padding: 4rem;
	height: 100%;

	.icon{
		margin-top: 1rem;

		a{
			padding: 0.4rem;

			&:hover {
				color: $secondary_color;
				@include easeOut();

			}

		}
	}

	&#home {
		overflow: hidden;
		h1 {
			margin-top: 20vh;
		}
	}

}
