//Menu button
.menu-btn{
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

.btn-line{
  width:25px;
  height: 3px;
  margin-bottom: 5px;
  background: #fff;
  @include easeOut;
  }
&.close {
  transform: rotate(180deg);

  .btn-line{
    //line 1: rotate
    &:nth-child(1){
      transform: rotate(45deg) translate(5px, 5px);
    }
    //line 2: hide
    &:nth-child(2){
      opacity: 0;
    }
    //line 3: rotate
    &:nth-child(3){
      transform: rotate(-45deg) translate(7px, -6px);
    }



    }
  }
}
